@use "./functions" as *;

@mixin flex($dir: row, $gap: 0, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($cols: 1fr, $rows: auto, $gap: 0, $align: flex-start) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  gap: $gap;
  align-items: $align;
}

@mixin scroll($dir: y, $clr-handle: var(--clr-primary), $clr-track: var(--clr-bg)) {
  overflow-#{$dir}: auto;
  scrollbar-color: #{$clr-handle} #{$clr-track};
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    @if $dir ==x {
      height: px-to-rem(8);
    }

    @else if $dir ==y {
      width: px-to-rem(8);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $clr-handle;
    border-radius: px-to-rem(4);
  }

  &::-webkit-scrollbar-track {
    background-color: $clr-track;
  }
}

@mixin hover() {
  &:hover {
    @media (hover: hover) {
      @content;
    }
  }
}

@mixin screen-max-w($breakpoint) {
  @media screen and (max-width: #{px-to-rem($breakpoint)}) {
    @content;
  }
}