@use "../inc/functions" as *;

.btn {
  display: flex;
  align-items: center;
  gap: get-rem(16);
  padding: get-rem(8) get-rem(16);
  background: none;
  border: none;
  cursor: pointer;
  font-size: get-rem(18);
  font-weight: 500;
  border-radius: 10px;
  &:hover {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3568627451),
      rgba(214, 214, 214, 0.137)
    );
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.534),
    rgba(0, 0, 0, 0.008)
  );
  padding: get-rem(8);
  border-radius: 4px;
  border: none;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.733),
      rgba(0, 0, 0, 0.01)
    );
  }
}
