@use "../inc/functions" as *;

.modal {
  max-width: 80vw;
  max-height: 80vh;
  background-color: var(--clr-light);
  margin: auto;
  border: none;
  border-radius: get-rem(20);
  padding: get-rem(32);

  .modal-header {
    width: 100%;
    border-bottom: solid 1px var(--clr-secondary);

    .title {
      font-size: get-rem(32);
      padding-bottom: get-rem(16);
    }
  }

  .modal-body {
    .container {
      min-width: get-rem(600);

      form {
        padding-top: get-rem(16);

        .form-description {
          margin-bottom: get-rem(16);
          font-weight: 600;
        }

        .input-wrapper {
          display: flex;
          flex-direction: column;

          label {
            cursor: pointer;

            &.error {
              color: var(--clr-error);
            }
          }

          input {
            border: none;
            margin-top: get-rem(12);
            padding: get-rem(8) get-rem(8);
            width: 100%;
            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.658);
            transition: all ease 0.5s;

            &:focus {
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
              outline: none;
              background-color: white;
            }
            &.error {
              box-shadow: 0px 0px 5px var(--clr-error);
            }
          }
        }

        .row {
          padding-bottom: get-rem(32);
        }

        .btns-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: get-rem(32);
          padding-top: get-rem(32);
          padding-bottom: get-rem(16);
          border-top: solid 1px var(--clr-secondary);

          .btn {
            background-image: var(--background-gradient);
            padding: get-rem(16) get-rem(32);
            border-radius: get-rem(16);
            transition: all 0.5s ease;

            &:hover {
              background-image: none;
              box-shadow: 0 0 0 1px var(--clr-secondary);
            }
          }
        }
      }
    }
  }

  &.remove-modal {
    .modal-body {
      .container {
        form {
          .input-wrapper {
            label {
              cursor: auto;
            }
            input {
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
              outline: none;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
