@use "../inc/functions" as *;

.selectForm {
  padding: 0;
  margin: 0;
  outline: none;

  .react-select__control {
    border: none;
    margin-top: 0.75rem;
    padding: 0 0.5rem;
    width: 100%;
    height: get-rem(37);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.658);
    transition: all ease 0.5s;

    .react-select__input {
      opacity: 0 !important;
    }

    &.react-select__control--is-focused {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      outline: none;
      background-color: white;
      .react-select__input {
        opacity: 1 !important;
      }
    }
  }

  .error {
    .react-select__control {
      box-shadow: 0px 0px 5px var(--clr-error);
    }
  }
}
