@use "../inc/functions" as *;

.selectForm {
  padding: 0;
  margin: 0;
  outline: none;
  .MuiAutocomplete-inputRoot {
    padding: 0 !important;
    &::before {
      border: none !important;
    }
  }
  .MuiAutocomplete-endAdornment {
    top: 60%;
    transform: translate(-10%, -50%);
  }
  .MuiFormControl-root {
    &.error {
      input {
        box-shadow: 0px 0px 5px var(--clr-error) !important;
      }
    }
  }
}
