@use "../inc/functions" as *;

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  .loader-spinner {
    width: get-rem(60);
    height: get-rem(60);
    border: solid 3px white;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    animation: rotation 1s linear infinite;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: get-rem(50);
      height: get-rem(50);
      border-radius: 50%;
      border: solid 3px;
      border-color: black transparent;
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

dialog::backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 75, 75, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
