@use "../inc/functions" as *;

li {
  list-style-type: none;
  a {
    text-decoration: none;
    &:visited {
      color: black;
    }
  }
}

.nav-menu {
  margin: 0 auto;
  width: 80%;
  .menu-list,
  .menu-settings {
    padding: 1rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.048);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .btn {
      width: 100%;
      .icon {
        width: get-rem(18);
      }
    }
  }
  .menu-settings {
    border-bottom: none;
  }
}
