@use "../inc/functions" as *;

.sidebar {
  min-width: get-rem(300);
  padding: 0 1rem 1rem;
  background-color: rgba(211, 211, 211, 0.13);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  .nav-header {
    display: flex;
    align-items: center;
    height: get-rem(80);

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: get-rem(22);
        padding-left: 1rem;
      }

      .btn {
        padding: get-rem(8);
      }
    }
  }
}
