@use "./variables";
@use "../inc/functions" as *;
@use "./type";
@use "./layout-basic";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: get-rem(48);
  height: 100vh;
}

a {
  color: var(--clr-primary);
}

.main-container {
  width: 100%;
  height: 100%;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
  width: 100%;
  height: get-rem(80);
  background-color: rgba(211, 211, 211, 0.13);
  margin-bottom: 0 !important;

  .routes {
    padding-left: 1rem;
    color: var(--clr-secondary);
    a {
      text-decoration: none;
      &:visited {
        color: var(--clr-secondary);
      }
    }
  }

  .header-btns {
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    padding: get-rem(8);
  }
}
