@use "../inc/functions" as *;

.account {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 77vh;
}

.container {
  width: 100%;
  padding: get-rem(20);
  background-image: linear-gradient(180deg, #ffffff5b, #00000002);
  border-radius: get-rem(12);
}
