@use "../inc/functions" as *;

.container {
  width: 100%;
  max-height: 72.2vh;
  padding: get-rem(20);
  background-image: linear-gradient(180deg, #ffffff5b, #00000002);
  border-radius: get-rem(12);
  overflow-y: auto;
}
